.Tittle.col-md-12 {
    border: none !important;
    background-color: Transparent !important;
    color: #fff;
}

.Tittle.col-md-12, .Nav.col-md-12 {
    z-index: 1000;
}

.Hat__bg {
    position: absolute;
    z-index: 900;
    box-shadow: 0em 0.3em 1em;
}

.nav-tabs {
    font-weight: 800;
    border-color: Transparent !important;
}

.nav-link {
    color: #fff;
}

.nav {
    z-index: 1001;
}
